@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@-ms-viewport {
  width: device-width; }

html {
  background-color: #f2f2f2;
  overflow: hidden; }

.test {
  color: yellow;
  background-color: black; }

#book {
  position: relative; }

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: scroll; }

.card:first-child {
  margin-top: 5em; }

.card:last-child {
  margin-bottom: 6em; }

.card {
  background-color: white;
  overflow: scroll;
  width: 70%;
  padding: 5%;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  box-shadow: 3px 6px 10px #888888;
  border-radius: 5px; }

.button_wrap {
  position: absolute;
  bottom: 5%;
  right: 10%;
  z-index: 10000;
  width: 80%; }
  .button_wrap h4 {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    width: 50%;
    vertical-align: text-bottom;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.5);
    color: white; }
  .button_wrap #next {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 6px 10px #888888;
    border: 0;
    height: auto;
    width: 50px;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    float: right;
    height: 50px; }
    .button_wrap #next img {
      display: inline-block;
      width: 25px;
      margin-left: 10%; }
  .button_wrap #restart {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 6px 10px #888888;
    border: 0;
    height: auto;
    width: 200px;
    display: none;
    padding: 5px 5px 5px 5px;
    float: right;
    height: 50px;
    text-align: center; }
  .button_wrap #prev {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 6px 10px #888888;
    position: relative;
    height: 4em;
    margin-right: 2em;
    border: 0em;
    padding: 5px 10px 5px 10px;
    display: none;
    float: right;
    margin-right: 2em;
    height: 50px;
    width: 50px; }
    .button_wrap #prev img {
      display: inline-block;
      width: 25px; }
  .button_wrap #exit {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 6px 10px #888888;
    position: relative;
    height: 4em;
    margin-right: 2em;
    border: 0em;
    height: 50px;
    width: auto;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    text-align: left;
    float: left;
    display: none; }
