// Defining values
$xs-min: 1px;
$sm-min: 768px;
$xs-max: ($sm-min - 1);
$md-min: 992px;
$sm-max: ($md-min - 1);
$lg-min: 1200px;
$md-max: ($lg-min - 1);
// $xl-min: 2000px;
// $lg-max: ($xl-min - 1);

@-ms-viewport{
  width: device-width;
}

$Jamesred: #bd4147;
// $Jamesblue: #42708C;
$Jamesblue: rgba(66, 112, 140, .8);
// $red: #b83c2a;
// $green: #1cba32;
$red: rgb(234,197,191);
$green: rgb(187,234,194);

$gray: #b2b2b2;
$mid-gray: #dedede;
$light-gray: #f7f7f7;
$dark-gray: #d5d5d5;
$border-gray: #e9e9e9;
$transparent-gray: rgba(0,0,0,.6);

$box-shadow: 0px 2px 0px #d5d5d5;



// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
// @import 'breakpoints.scss';
// // xs small
// @media (max-width: $xs-max){

// }

// // small
// @media (max-width: $sm-max){
	
// }

// // medium
// @media (max-width: $md-max){
	
// }

// // xs small
// @media (max-width: $lg-min){
	
// }