@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'imports.scss';


// xs 
html{
	background-color: $light-gray;
	overflow: hidden;
}


.test{
	color: yellow;
	background-color: black;
}

#book{
	position: relative;
	// transform: translateY(-25%)
	// background: url('../img/background.png') no-repeat center center fixed;
	// -webkit-background-size: cover;
 // 	-moz-background-size: cover;
 // 	-o-background-size: cover;
 // 	background-size: cover;
}
.page{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	// background-color: #00BFFF;
	// padding-top: 100px;
	
}


.card:first-child{
	margin-top: 5em;
}

.card:last-child{
	margin-bottom: 6em;
}

.card{
	background-color: white;
	overflow: scroll;
	width: 80%;
	// max-height: 50%;
	padding: 5%;
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 2em;
	box-shadow: $box-shadow;
	border-radius: 5px;
	border: 1px solid $border-gray;
	border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;

}

.exit_card{
	display: none;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 10000;
	color: white;
	.text-box{
		margin-top: 15%;
		margin-left: 12%;
		opacity: 1;
	}
	.exit_cancel, .exit_reset{
		font-weight: 700;
	}
}

.transparentCard{
	background-color: transparent;
	box-shadow: none;
	padding: 5%;
	padding-top: 0%;
	padding-bottom: 0%;
	text-align: left;
	width: 80%;
	border: none;

}

.arrow-up:hover, .arrow-down:hover{
	background-color: $Jamesblue;
}
.arrow-up {
  display: inline-block;
  width: 7em;
  height: 7em;
  // border: 0.5em solid $dark-gray;
	background-color: $dark-gray;
  border-radius: 50%;
  // margin-right: 0.75em;
}

.arrow-up:after {
	content: '';
	display: inline-block;
	margin-top: 2.4em;
	width: 2.4em;
	height: 2.4em;
	border-top: 0.5em solid $light-gray;
	border-right: 0.5em solid $light-gray;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.arrow-down {
background-color: $dark-gray;

  display: inline-block;
  width: 7em;
  height: 7em;
  // border: 0.5em solid $dark-gray;
  color: $light-gray;
  border-radius: 50%;
  // margin-left: 0.75em;

}

.arrow-down:after {
  content: '';
	display: inline-block;
  margin-top: 1.4em;
  width: 2.4em;
  height: 2.4em;
  border-top: 0.5em solid $light-gray;
  border-right: 0.5em solid $light-gray;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
    // box-shadow: $drop-shadow;
}

.button_wrap{
	position: absolute;	
	bottom: 2%;
	right: 5%;
	width: 90%;
	margin: 0em;
	padding: 0em;
	p{
		font-size: 4em;
		font-weight: 700;
		text-transform: uppercase;
		color: $dark-gray;
		line-height: 0em;
		margin-bottom: 0em;	
	}
	p:hover{
		color: $Jamesblue;
	}
	button{
		// border-radius: 5px;
		// background-color: $dark-gray;
		// box-shadow: $box-shadow;	
		// box-shadow: $box-shadow;
		// border-radius: 5px;
		// border: 1px solid $dark-gray;
		// border-bottom-width: 2px;
	    // background-color: $dark-gray;
	    background-color: transparent;
	    border: 0px;
	    color: #333;
		text-align: center;
		padding: 0em;
		height: auto;
		width: auto;	
	}
	#exit, #restart {
		position: absolute;
		bottom: 40%;
	}
	#next,#prev{
		float: right;
	}

	#prev{
		margin-right: 1em;
		display: none;
	}
	#restart, #exit{
		float: left;
		display: none;
	}
	#restart:hover, #exit:hover{
		color: $Jamesblue;
	}
	
}


// small
@media (min-width: $sm-min){
.card{
	width: 70%;
}
.button_wrap{
	width: 80%;
	right: 10%;
}
// .button_wrap{
// 	width: 80%;
// 	right: 10%;
// 	p{
// 		font-size: 3em;
// 	}
// 	button{
// 		width: auto;
// 		height: 5em;
// 	}
// 	#prev{
// 		margin-right: 2em;
// 		// padding-left: 4em;
// 		// padding-right: 4em;
// 	}
	
// }	

// .arrow-up {
//   display: inline-block;
//   width: 4em;
//   height: 4em;
//   // border: 0.5em solid $dark-gray;
// 	background-color: $dark-gray;
//   border-radius: 50%;
//   margin-right: 0.75em;
// }

// .arrow-up:after {
//   content: '';
// 	display: inline-block;
//   margin-top: 1.4em;
//   width: 1.4em;
//   height: 1.4em;
//   border-top: 0.5em solid $light-gray;
//   border-right: 0.5em solid $light-gray;
//   -moz-transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// .arrow-down {
// background-color: $dark-gray;

//   display: inline-block;
//   width: 4em;
//   height: 4em;
//   // border: 0.5em solid $dark-gray;
//   color: $light-gray;
//   border-radius: 50%;
//   margin-left: 0.75em;
// }

// .arrow-down:after {
//   content: '';
// 	display: inline-block;
//   margin-top: 0.6em;
//   width: 1.4em;
//   height: 1.4em;
//   border-top: 0.5em solid $light-gray;
//   border-right: 0.5em solid $light-gray;
//   -moz-transform: rotate(135deg);
//   -webkit-transform: rotate(135deg);
//   transform: rotate(135deg);
// }
	
// }

}
// medium
@media (min-width: $md-min){
}

// xs small
@media (min-width: $lg-min){
	// .page{
	// 	width: 60%;
	// }
}

#test{
	color: red;
}