@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'breakpoints.scss';


// xs 
html{
	font-family: 'Lato', sans-serif;
	background-color: $light-gray;
	overflow: hidden;
}

h1,h2,h3,h4{
	margin-bottom: .5em;
}
h1{
	font-size: 2em;
	font-weight: 900;
	
}

h2{
	font-size: 1.5em;
	font-weight: 300;
	

}

h3{
	font-size: 1.5em;
	font-weight: 700;
	
}

h4{
	font-size: 2em;
	font-weight: 700;
}

p{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-weight: 300;
}
code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  line-height: 2em;
  background-color: #f9f2f4;
  border-radius: .25rem; }

ul{
	margin-bottom: 1em;
	li{
		font-weight: 300;
	}
}

img{
	width: 100%;
}
a{
	color: $Jamesblue;
	text-decoration: none;
}

.test{
	color: yellow;
	background-color: black;
}

#book{
	position: relative;
	// transform: translateY(-25%)
	// background: url('../img/background.png') no-repeat center center fixed;
	// -webkit-background-size: cover;
 // 	-moz-background-size: cover;
 // 	-o-background-size: cover;
 // 	background-size: cover;
}
.page{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	// background-color: #00BFFF;
	// padding-top: 100px;
	
}

.card:first-child{
	margin-top: 5em;
}

.card:last-child{
	margin-bottom: 6em;
}

.card{
	background-color: white;
	overflow: scroll;
	width: 70%;
	// max-height: 50%;
	padding: 5%;
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 2em;
	box-shadow: $box-shadow;
	border-radius: 5px;
	border: 1px solid $border-gray;
	border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;

}

.exit_card{
	display: none;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 10000;
	color: white;
	.text-box{
		margin-top: 15%;
		margin-left: 12%;
		opacity: 1;
	}
	.exit_cancel, .exit_reset{
		font-weight: 700;
	}
}

.transparentCard{
	background-color: transparent;
	box-shadow: none;
	padding: 5%;
	padding-top: 0%;
	padding-bottom: 0%;
	text-align: left;
	width: 80%;
	border: none;

}

.active{
    // color: purple;
}

.button_wrap{
	position: absolute;	
	bottom: 5%;
	right: 10%;
	// z-index: 10000;
	width: 80%;
	h4{
		display: inline-block;
		text-transform: uppercase;
		position: relative;
		width: 50%;
		vertical-align: text-bottom;
		margin-right: 5px;
		color: rgba(0,0,0,.5);
		color: white;
	}
	#next{
		border-radius: 5px;
		// display: inline-block;
		background-color: rgba(0,0,0,.5);
		box-shadow: $box-shadow;
		// position: relative;
		border: 0;
		height: auto;
		width: auto;
		display: inline-block;
		padding: 5px 5px 5px 5px;
		float: right;
		height: 50px;
		img{
			display: inline-block;
			width: 25px;
			margin-left: 10%;
			// float: right;
		}	
	}
	#restart{
		border-radius: 5px;
		// display: inline-block;
		background-color: rgba(0,0,0,.5);
		box-shadow: $box-shadow;
		// position: relative;
		border: 0;
		height: auto;
		width: 200px;
		display: none;
		padding: 5px 5px 5px 5px;
		float: right;
		height: 50px;
		text-align: center;
		
	}
	// #next:hover{
	// 	background-color: white;
	// }
	#prev{
		border-radius: 5px;
		background-color: rgba(0,0,0,.5);
		box-shadow: $box-shadow;
		position: relative;
		height: 4em;
		margin-right: 2em;
		border: 0em;
		
		padding: 5px 10px 5px 10px;
		// display: inline-block;
		display: none;
		float: right;
		margin-right: 2em;
		height: 50px;
		width: 50px;
		img{
			display: inline-block;
			width: 25px;
		}	
	}
	#exit{
		border-radius: 5px;
		background-color: rgba(0,0,0,.5);
		box-shadow: $box-shadow;
		position: relative;
		height: 4em;
		margin-right: 2em;
		border: 0em;
		height: 50px;
		width: auto;
		padding: 5px 10px 5px 10px;
		display: inline-block;
		text-align: left;
		float: left;
		display: none;
	}
}


// small
@media (min-width: $sm-min){
	// .page{
	// 	width: 70%;
	// }

}

// medium
@media (min-width: $md-min){
	
	
}

// xs small
@media (min-width: $lg-min){
	// .page{
	// 	width: 60%;
	// }
}