@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'imports.scss';


// xs 
html{
	background-color: $light-gray;
	// background-color: red;
	overflow: hidden;
}


.test{
	color: yellow;
	background-color: black;
}

#book{
	position: relative;
	// transform: translateY(-25%)
	// background: url('../img/background.png') no-repeat center center fixed;
	// -webkit-background-size: cover;
 // 	-moz-background-size: cover;
 // 	-o-background-size: cover;
 // 	background-size: cover;
}

.page{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	// background-color: #00BFFF;
	// padding-top: 100px;
	
}




.card{
	background-color: white;
	overflow: scroll;
	width: 70%;
	// max-height: 50%;
	padding: 5%;
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 2em;
	box-shadow: $box-shadow;
	border-radius: 5px;
	border: 1px solid $border-gray;
	border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.card:first-child{
	margin-top: 5em;
}

.card:last-child{
	margin-bottom: 6em;
}

.exit_card{
	display: none;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 10000;
	color: white;
	.text-box{
		margin-top: 15%;
		margin-left: 12%;
		opacity: 1;
	}
	.exit_cancel, .exit_reset{
		font-weight: 700;
	}
}

.transparentCard{
	background-color: transparent;
	box-shadow: none;
	padding: 5%;
	padding-top: 0%;
	padding-bottom: 0%;
	text-align: left;
	width: 80%;
	border: none;

}

.arrow-up:hover, .arrow-down:hover{
	background-color: $Jamesblue;
}
.arrow-up {
	display: inline-block;
	width: 5em;
	height: 5em;
	// border: 0.5em solid $dark-gray;
	background-color: $dark-gray;
	border-radius: 50%;
	// margin-right: 0.75em;

}

.arrow-up:after {
	content: '';
	display: inline-block;
	margin-top: 1.8em;
	width: 1.8em;
	height: 1.8em;
	border-top: 0.5em solid $light-gray;
	border-right: 0.5em solid $light-gray;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.arrow-down {
background-color: $dark-gray;

  display: inline-block;
  width: 5em;
  height: 5em;
  // border: 0.5em solid $dark-gray;
  color: $light-gray;
  border-radius: 50%;
  // margin-left: 0.75em;

}

.arrow-down:after {
	content: '';
	display: inline-block;
	margin-top: .8em;
	width: 1.8em;
	height: 1.8em;
	border-top: 0.5em solid $light-gray;
	border-right: 0.5em solid $light-gray;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	// box-shadow: $drop-shadow;
}

.exit-icon{
	background-color: $dark-gray;
	display: inline-block;
	width: 5em;
	height: 5em;
	// border: 0.5em solid $dark-gray;
	color: $light-gray;
	border-radius: 50%;
	// margin-left: 0.75em;
}

.exit-icon:after{
	content: '';
	display: inline-block;
	margin-top: 1em;
	// width: 1.8em;
	// height: 1.8em;
	// border-top: 0.5em solid $light-gray;
	// border-right: 0.5em solid $light-gray;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	// box-shadow: $drop-shadow;
	width: 3em;
	height: 3em;
	background: linear-gradient(to bottom, transparent 40%, $light-gray 40%, $light-gray 60%,  transparent 60%),
	linear-gradient(to right, transparent 40%, $light-gray 40%, $light-gray 60%, transparent 60%);
}



// .restart-icon{

// 	 border: 2px solid;

// 	display: inline-block;
//     vertical-align: middle;
//     position: relative;
//     font-style: normal;
//     color: #ddd;
//     text-align: left;
//     text-indent: -9999px;
//     direction: ltr;

// 	width: 26px;
//     height: 26px;
//     border-radius: 50%;
//     border-width: 2px;
//     border-style: solid;
//     border-left-color: transparent;
//     margin: 4px;

//     transition: all .2s;
// }

// .restart-icon:before{
// 	position: absolute;
//     width: 0;
//     height: 0;
//     left: -7px;
//     bottom: 0;
//     border-width: 6px;
//     border-style: solid;
//     border-right-color: transparent;
//     border-left-color: transparent;
//     border-bottom-color: transparent;
//     -webkit-transform: rotate(135deg);
//     -ms-transform: rotate(135deg);
//     transform: rotate(135deg);

// }

// .restart-icon:after{
// 	content: '';
// 	pointer-events: none;
// }

.reset{
	background-color: $dark-gray;
	display: inline-block;
	width: 5em;
	height: 5em;
	// border: 0.5em solid $dark-gray;
	color: $light-gray;
	border-radius: 50%;
	// margin-left: 0.75em;
}
.reset-icon {	
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border-width: .4em;
  border-style: solid;
  border-color: $light-gray;
  border-left-color: transparent;
  margin-top: 1.2em;
  margin-left: 0em;

  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: $light-gray;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  transform: scaleX(-1);
}
.reset-icon:before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  left: -19px;
  bottom: 0;
  border-width: 14px;
  border-style: solid;
  border-color: $light-gray;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}



.button_wrap{
	position: absolute;	
	bottom: 2%;
	right: 5%;
	width: 90%;
	margin: 0em;
	padding: 0em;
	p{
		font-size: 4em;
		font-weight: 700;
		text-transform: uppercase;
		color: $dark-gray;
		line-height: 0em;
		margin-bottom: 0em;	
	}
	p:hover{
		color: $Jamesblue;
	}
	button{
		// border-radius: 5px;
		// background-color: $dark-gray;
		// box-shadow: $box-shadow;	
		// box-shadow: $box-shadow;
		// border-radius: 5px;
		// border: 1px solid $dark-gray;
		// border-bottom-width: 2px;
	    // background-color: $dark-gray;
	    background-color: transparent;
	    border: 0px;
	    color: #333;
		text-align: center;
		padding: 0em;
		height: auto;
		width: auto;	
	}
	#exit-icon, #reset {
		position: absolute;
		bottom: 40%;
	}
	#next,#prev{
		float: right;
	}

	#prev{
		margin-right: 1em;
		display: none;
	}
	#restart, #exit{
		float: left;
		display: none;
	}
	#restart:hover, #exit:hover{
		color: $Jamesblue;
	}
	
}


// small
@media (min-width: $sm-min){
.card{
	width: 70%;
}
.button_wrap{
	width: 80%;
	right: 10%;
}
// .button_wrap{
// 	width: 80%;
// 	right: 10%;
// 	p{
// 		font-size: 3em;
// 	}
// 	button{
// 		width: auto;
// 		height: 5em;
// 	}
// 	#prev{
// 		margin-right: 2em;
// 		// padding-left: 4em;
// 		// padding-right: 4em;
// 	}
	
// }	

// .arrow-up {
//   display: inline-block;
//   width: 4em;
//   height: 4em;
//   // border: 0.5em solid $dark-gray;
// 	background-color: $dark-gray;
//   border-radius: 50%;
//   margin-right: 0.75em;
// }

// .arrow-up:after {
//   content: '';
// 	display: inline-block;
//   margin-top: 1.4em;
//   width: 1.4em;
//   height: 1.4em;
//   border-top: 0.5em solid $light-gray;
//   border-right: 0.5em solid $light-gray;
//   -moz-transform: rotate(-45deg);
//   -webkit-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// .arrow-down {
// background-color: $dark-gray;

//   display: inline-block;
//   width: 4em;
//   height: 4em;
//   // border: 0.5em solid $dark-gray;
//   color: $light-gray;
//   border-radius: 50%;
//   margin-left: 0.75em;
// }

// .arrow-down:after {
//   content: '';
// 	display: inline-block;
//   margin-top: 0.6em;
//   width: 1.4em;
//   height: 1.4em;
//   border-top: 0.5em solid $light-gray;
//   border-right: 0.5em solid $light-gray;
//   -moz-transform: rotate(135deg);
//   -webkit-transform: rotate(135deg);
//   transform: rotate(135deg);
// }
	
// }

}
// medium
@media (min-width: $md-min){
}

// xs small
@media (min-width: $lg-min){
	// .page{
	// 	width: 60%;
	// }
}

#test{
	color: red;
}