@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@-ms-viewport {
  width: device-width; }

html {
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  overflow: hidden; }

h1, h2, h3, h4 {
  margin-bottom: .5em; }

h1 {
  font-size: 2em;
  font-weight: 900; }

h2 {
  font-size: 1.5em;
  font-weight: 300; }

h3 {
  font-size: 1.5em;
  font-weight: 700; }

h4 {
  font-size: 2em;
  font-weight: 700; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-weight: 300; }

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  line-height: 2em;
  background-color: #f9f2f4;
  border-radius: .25rem; }

ul {
  margin-bottom: 1em; }
  ul li {
    font-weight: 300; }

img {
  width: 100%; }

a {
  color: rgba(66, 112, 140, 0.8);
  text-decoration: none; }

.test {
  color: yellow;
  background-color: black; }

#book {
  position: relative; }

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: scroll; }

.card:first-child {
  margin-top: 5em; }

.card:last-child {
  margin-bottom: 6em; }

.card {
  background-color: white;
  overflow: scroll;
  width: 80%;
  padding: 5%;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  box-shadow: 0px 2px 0px #d5d5d5;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  border-bottom-width: 2px;
  border-radius: 4px;
  background-color: #fff;
  color: #333; }

.exit_card {
  display: none;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: white; }
  .exit_card .text-box {
    margin-top: 15%;
    margin-left: 12%;
    opacity: 1; }
  .exit_card .exit_cancel, .exit_card .exit_reset {
    font-weight: 700; }

.transparentCard {
  background-color: transparent;
  box-shadow: none;
  padding: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: left;
  width: 80%;
  border: none; }

.arrow-up, .arrow-down {
  display: inline-block;
  width: 3em;
  height: 2em; }

.arrow-up:after {
  content: '';
  display: inline-block;
  margin-top: .5em;
  width: 2em;
  height: 2em;
  border-top: 0.8em solid #f7f7f7;
  border-right: 0.8em solid #f7f7f7;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.arrow-down:after {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  border-top: 0.8em solid #f7f7f7;
  border-right: 0.8em solid #f7f7f7;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.button_wrap {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 90%; }
  .button_wrap p {
    margin: 0em;
    padding: 0em;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    color: #f7f7f7; }
  .button_wrap button {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0px;
    color: #333;
    text-align: center;
    width: auto;
    min-height: 100%; }
  .button_wrap #next, .button_wrap #prev, .button_wrap #restart {
    float: right; }
  .button_wrap #prev {
    margin-right: 2em; }
  .button_wrap #restart {
    float: right;
    display: none; }
  .button_wrap #exit {
    float: left;
    display: none; }

@media (min-width: 768px) {
  .card {
    width: 70%; }
  .button_wrap {
    width: 80%;
    right: 10%; }
    .button_wrap p {
      font-size: 3em; }
    .button_wrap button {
      width: auto;
      min-width: 100px;
      height: 5em; }
    .button_wrap #prev {
      margin-right: 2em; }
  .arrow-up {
    display: inline-block;
    width: 2em;
    height: 2em; }
  .arrow-up:after {
    content: '';
    display: inline-block;
    margin-top: 1.5em;
    width: 2em;
    height: 2em;
    border-top: 0.5em solid #f7f7f7;
    border-right: 0.5em solid #f7f7f7;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .arrow-down {
    display: inline-block;
    width: 2em;
    height: 2em; }
  .arrow-down:after {
    content: '';
    display: inline-block;
    margin-bottom: 1em;
    width: 2em;
    height: 2em;
    border-top: 0.5em solid #f7f7f7;
    border-right: 0.5em solid #f7f7f7;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); } }
