@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@-ms-viewport {
  width: device-width; }

html {
  background-color: #f7f7f7;
  overflow: hidden; }

.test {
  color: yellow;
  background-color: black; }

#book {
  position: relative; }

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: scroll; }

.card {
  background-color: white;
  overflow: scroll;
  width: 70%;
  padding: 5%;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  box-shadow: 0px 2px 0px #d5d5d5;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  border-bottom-width: 2px;
  border-radius: 4px;
  background-color: #fff;
  color: #333; }

.card:first-child {
  margin-top: 5em; }

.card:last-child {
  margin-bottom: 6em; }

.exit_card {
  display: none;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: white; }
  .exit_card .text-box {
    margin-top: 15%;
    margin-left: 12%;
    opacity: 1; }
  .exit_card .exit_cancel, .exit_card .exit_reset {
    font-weight: 700; }

.transparentCard {
  background-color: transparent;
  box-shadow: none;
  padding: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: left;
  width: 80%;
  border: none; }

.arrow-up:hover, .arrow-down:hover {
  background-color: #42708c; }

.arrow-up {
  display: inline-block;
  width: 5em;
  height: 5em;
  background-color: #2a2a2a;
  border-radius: 50%; }

.arrow-up:after {
  content: '';
  display: inline-block;
  margin-top: 1.8em;
  width: 1.8em;
  height: 1.8em;
  border-top: 0.5em solid #f7f7f7;
  border-right: 0.5em solid #f7f7f7;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.arrow-down {
  background-color: #2a2a2a;
  display: inline-block;
  width: 5em;
  height: 5em;
  color: #f7f7f7;
  border-radius: 50%; }

.arrow-down:after {
  content: '';
  display: inline-block;
  margin-top: .8em;
  width: 1.8em;
  height: 1.8em;
  border-top: 0.5em solid #f7f7f7;
  border-right: 0.5em solid #f7f7f7;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.exit-icon {
  background-color: #2a2a2a;
  display: inline-block;
  width: 5em;
  height: 5em;
  color: #f7f7f7;
  border-radius: 50%; }

.exit-icon:after {
  content: '';
  display: inline-block;
  margin-top: 1em;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  width: 3em;
  height: 3em;
  background: linear-gradient(to bottom, transparent 40%, #f7f7f7 40%, #f7f7f7 60%, transparent 60%), linear-gradient(to right, transparent 40%, #f7f7f7 40%, #f7f7f7 60%, transparent 60%); }

.reset {
  background-color: #2a2a2a;
  display: inline-block;
  width: 5em;
  height: 5em;
  color: #f7f7f7;
  border-radius: 50%; }

.reset-icon {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border-width: .4em;
  border-style: solid;
  border-color: #f7f7f7;
  border-left-color: transparent;
  margin-top: 1.2em;
  margin-left: 0em;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: #f7f7f7;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(225deg); }

.reset-icon:before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  left: -19px;
  bottom: 0;
  border-width: 14px;
  border-style: solid;
  border-color: #f7f7f7;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.button_wrap {
  position: absolute;
  bottom: 2%;
  right: 5%;
  width: 90%;
  margin: 0em;
  padding: 0em; }
  .button_wrap p {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2a2a;
    line-height: 0em;
    margin-bottom: 0em; }
  .button_wrap p:hover {
    color: #42708c; }
  .button_wrap button {
    background-color: transparent;
    border: 0px;
    color: #333;
    text-align: center;
    padding: 0em;
    height: auto;
    width: auto; }
  .button_wrap #exit-icon, .button_wrap #reset {
    position: absolute;
    bottom: 40%; }
  .button_wrap #next, .button_wrap #prev {
    float: right; }
  .button_wrap #prev {
    margin-right: 1em;
    display: none; }
  .button_wrap #restart, .button_wrap #exit {
    float: left;
    display: none; }
  .button_wrap #restart:hover, .button_wrap #exit:hover {
    color: #42708c; }

@media (min-width: 768px) {
  .card {
    width: 70%; }
  .button_wrap {
    width: 80%;
    right: 10%; } }

#test {
  color: red; }
