@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@-ms-viewport {
  width: device-width; }

html {
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  overflow: hidden; }

h1, h2, h3, h4 {
  margin-bottom: .5em; }

h1 {
  font-size: 2em;
  font-weight: 900; }

h2 {
  font-size: 1.5em;
  font-weight: 300; }

h3 {
  font-size: 1.5em;
  font-weight: 700; }

h4 {
  font-size: 2em;
  font-weight: 700; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-weight: 300; }

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  line-height: 2em;
  background-color: #f9f2f4;
  border-radius: .25rem; }

ul {
  margin-bottom: 1em; }
  ul li {
    font-weight: 300; }

img {
  width: 100%; }

a {
  color: #42708c;
  text-decoration: none; }

.test {
  color: yellow;
  background-color: black; }

#book {
  position: relative; }

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: scroll; }

.card:first-child {
  margin-top: 5em; }

.card:last-child {
  margin-bottom: 6em; }

.card {
  background-color: white;
  overflow: scroll;
  width: 80%;
  padding: 5%;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 2em;
  box-shadow: 0px 2px 0px #d5d5d5;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  border-bottom-width: 2px;
  border-radius: 4px;
  background-color: #fff;
  color: #333; }

.exit_card {
  display: none;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: white; }
  .exit_card .text-box {
    margin-top: 15%;
    margin-left: 12%;
    opacity: 1; }
  .exit_card .exit_cancel, .exit_card .exit_reset {
    font-weight: 700; }

.transparentCard {
  background-color: transparent;
  box-shadow: none;
  padding: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: left;
  width: 80%;
  border: none; }

.arrow-up:hover, .arrow-down:hover {
  background-color: #42708c; }

.arrow-up {
  display: inline-block;
  width: 7em;
  height: 7em;
  background-color: #2a2a2a;
  border-radius: 50%; }

.arrow-up:after {
  content: '';
  display: inline-block;
  margin-top: 2.4em;
  width: 2.4em;
  height: 2.4em;
  border-top: 0.5em solid #f7f7f7;
  border-right: 0.5em solid #f7f7f7;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.arrow-down {
  background-color: #2a2a2a;
  display: inline-block;
  width: 7em;
  height: 7em;
  color: #f7f7f7;
  border-radius: 50%; }

.arrow-down:after {
  content: '';
  display: inline-block;
  margin-top: 1.4em;
  width: 2.4em;
  height: 2.4em;
  border-top: 0.5em solid #f7f7f7;
  border-right: 0.5em solid #f7f7f7;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.button_wrap {
  position: absolute;
  bottom: 2%;
  right: 5%;
  width: 90%;
  margin: 0em;
  padding: 0em; }
  .button_wrap p {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2a2a;
    line-height: 0em;
    margin-bottom: 0em; }
  .button_wrap p:hover {
    color: #42708c; }
  .button_wrap button {
    background-color: transparent;
    border: 0px;
    color: #333;
    text-align: center;
    padding: 0em;
    height: auto;
    width: auto; }
  .button_wrap #exit, .button_wrap #restart {
    position: absolute;
    bottom: 40%; }
  .button_wrap #next, .button_wrap #prev {
    float: right; }
  .button_wrap #prev {
    margin-right: 1em;
    display: none; }
  .button_wrap #restart, .button_wrap #exit {
    float: left;
    display: none; }
  .button_wrap #restart:hover, .button_wrap #exit:hover {
    color: #42708c; }

@media (min-width: 768px) {
  .card {
    width: 70%; } }
