@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'breakpoints.scss';


// xs 
html{
	font-family: 'Lato', sans-serif;
	background-color: $light-gray;
	overflow: hidden;
}

h1,h2,h3,h4{
	margin-bottom: .5em;
}
h1{
	font-size: 2em;
	font-weight: 900;
	
}

h2{
	font-size: 1.5em;
	font-weight: 300;
	

}

h3{
	font-size: 1.5em;
	font-weight: 700;
	
}

h4{
	font-size: 2em;
	font-weight: 700;
}

p{
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-weight: 300;
}
code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  line-height: 2em;
  background-color: #f9f2f4;
  border-radius: .25rem; }

ul{
	margin-bottom: 1em;
	li{
		font-weight: 300;
	}
}

img{
	width: 100%;
}
a{
	color: $Jamesblue;
	text-decoration: none;
}

.test{
	color: yellow;
	background-color: black;
}

#book{
	position: relative;
	// transform: translateY(-25%)
	// background: url('../img/background.png') no-repeat center center fixed;
	// -webkit-background-size: cover;
 // 	-moz-background-size: cover;
 // 	-o-background-size: cover;
 // 	background-size: cover;
}
.page{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	// background-color: #00BFFF;
	// padding-top: 100px;
	
}

.arrow-up {
  display: inline-block;
  width: 6em;
  height: 6em;
 
}

.arrow-up:after {
  content: '';
	display: inline-block;
	margin-top: 4em;

  width: 4em;
  height: 4em;
  border-top: 1em solid $light-gray;
  border-right: 1em solid $light-gray;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-down {
  display: inline-block;
  width: 6em;
  height: 6em;
  // // border: 0.5em solid $light-gray;
  // border-radius: 50%;
  // margin-left: 0.75em;
}

.arrow-down:after {
  content: '';
	display: inline-block;
  margin-bottom: 1em;
  width: 4em;
  height: 4em;
  border-top: 1em solid $light-gray;
  border-right: 1em solid $light-gray;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.card:first-child{
	margin-top: 5em;
}

.card:last-child{
	margin-bottom: 6em;
}

.card{
	background-color: white;
	overflow: scroll;
	width: 80%;
	// max-height: 50%;
	padding: 5%;
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 2em;
	box-shadow: $box-shadow;
	border-radius: 5px;
	border: 1px solid $border-gray;
	border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;

}

.exit_card{
	display: none;
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .8);
	z-index: 10000;
	color: white;
	.text-box{
		margin-top: 15%;
		margin-left: 12%;
		opacity: 1;
	}
	.exit_cancel, .exit_reset{
		font-weight: 700;
	}
}

.transparentCard{
	background-color: transparent;
	box-shadow: none;
	padding: 5%;
	padding-top: 0%;
	padding-bottom: 0%;
	text-align: left;
	width: 80%;
	border: none;

}

.active{
    // color: purple;
}



.button_wrap{
	position: absolute;	
	bottom: 5%;
	right: 5%;
	// z-index: 10000;
	width: 90%;
	p{
		margin: 0em;
		font-size: 7em;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		color: $light-gray;	

	}
	button{
		border-radius: 5px;
		// background-color: $transparent-gray;
		// box-shadow: $box-shadow;	
		// box-shadow: $box-shadow;
		// border-radius: 5px;
		// border: 1px solid $dark-gray;
		// border-bottom-width: 2px;
	    background-color: $transparent-gray;
	    border: 0px;
	    color: #333;
		text-align: center;
		padding: 3em;
		width: auto;
		min-width: 100px;
		height: 20em;
		min-height: 100px;
	}

	#next,#prev, #restart{
		float: right;
	}

	#prev{
		margin-right: 2em;
		padding-left: 5em;
		padding-right: 5em;
	}
	#restart{
		float: right;
		line-height: 4em;
		display: none;
	}
	#exit{
		float: left;
		display: none;
	}
}


// small
@media (min-width: $sm-min){
	// .page{
	// 	width: 70%;
	// }

}

// medium
@media (min-width: $md-min){
.card{
	width: 70%;
}
.button_wrap{
	width: 80%;
	right: 10%;
	p{
		font-size: 4em;
	}
	button{
		padding: 2em;
		min-width: 100px;
		height: 12em;
	}
	#prev{
		margin-right: 2em;
		padding-left: 4em;
		padding-right: 4em;
	}
	
}	
.arrow-up {
  display: inline-block;
  width: 4em;
  height: 4em;
 
}

.arrow-up:after {
  content: '';
	display: inline-block;
	margin-top: 2em;
  width: 2em;
  height: 2em;
  border-top: 0.5em solid $light-gray;
  border-right: 0.5em solid $light-gray;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-down {
  display: inline-block;
  width: 4em;
  height: 4em;
  // // border: 0.5em solid $light-gray;
  // border-radius: 50%;
  // margin-left: 0.75em;
}

.arrow-down:after {
  content: '';
	display: inline-block;
	  margin-bottom: 1em;

  width: 2em;
  height: 2em;
  border-top: 0.5em solid $light-gray;
  border-right: 0.5em solid $light-gray;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
	
}

// xs small
@media (min-width: $lg-min){
	// .page{
	// 	width: 60%;
	// }
}