@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@-ms-viewport {
  width: device-width; }

html {
  font-family: 'Lato', sans-serif;
  background-color: red; }

h1 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: .5em; }

h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: .5em; }

h3 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: .5em; }

h4 {
  font-size: 2em;
  font-weight: 700; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
  font-weight: 300; }

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f9f2f4;
  border-radius: .25rem; }

ul {
  margin-bottom: 1em; }
  ul li {
    font-weight: 300; }

img {
  width: 100%; }

a {
  color: #42708c;
  text-decoration: none; }

.card_button {
  border: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 6px 10px #888888;
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-weight: 700;
  width: 250px;
  height: 100px; }

.card_button:hover {
  background-color: #42708c;
  color: white; }

.denied_insurance {
  background-color: #eac5bf; }
  .denied_insurance:hover {
    background-color: #eac5bf; }

.approved_insurance {
  background-color: #bbeac2; }
  .approved_insurance:hover {
    background-color: #bbeac2; }

.character_page {
  overflow: scroll; }

.transparentCard {
  background-color: transparent;
  box-shadow: none;
  padding: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
  text-align: left;
  width: 80%; }

.characterCard {
  overflow: hidden;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 0%;
  box-shadow: 3px 6px 10px #888888;
  margin-bottom: 2em;
  border-radius: 5px; }

.char_img {
  position: relative;
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin-right: 2em; }

.emma_img {
  background: url("../img/Emma.PNG") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.jordan_img {
  background: url("../img/Jordan.PNG") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.leah_img {
  background: url("../img/Leah.PNG") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.char_text {
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em; }
  .char_text h3 {
    max-width: 25%; }

.exit_card {
  display: none;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: white; }
  .exit_card .text-box {
    margin-top: 15%;
    margin-left: 12%;
    opacity: 1; }
  .exit_card .exit_cancel, .exit_card .exit_reset {
    font-weight: 700; }

.clinic_hours .clinic:first-child {
  color: red; }
